@mixin flex($justify:space-between) {
  display: flex;
  align-items: center;
  justify-content: $justify;
}

@mixin border {
  border: 1px solid salmon;
}

@mixin transition {
  transition: all 0.3s ease 0s;
}