@mixin hide-button {
  @media only screen and(max-width:1340px){
    .button-container{
      display: none;
    }
  }
}

@mixin hidelinks {
  @media only screen and(max-width:1024px){
    .navbar{
      flex-direction: column;
      align-items: flex-start;
    }

    .nav-links{
      display: none;
      width: 100%;
      ul{
        width: 100%;
        flex-direction: column;
      }
      li{
        margin-top: .5rem;
        text-align: center;
        display: inline-block;
        width: 100%;
        @include transition;
        &:hover{
          background-color: $primary-color;
        }
        &:last-child{
          display: none;
        }
      }
    }

    .nav-links.display{
      display: flex;
    }
    .toggle-button.display {

      .bar:nth-child(2) {
        opacity: 0;
      }
      .bar:nth-child(1) {
        transform: translateY(15px) rotate(45deg);
      }
      .bar:nth-child(3) {
        transform: translateY(-15px) rotate(-45deg);
      }
    }

    .toggle-button{
      display: flex;
    }
  }
}

// about 

@mixin laptop-lg {
  @media only screen and (max-width:1024px){
    body{
      text-align: center;
    }
  
    .about-container{
      justify-content: center;
    }
  
    .info {
      padding: 0;
    }
  }
}

@mixin tablet {
  @media only screen and (max-width:768px){

    .container{
      width: 95%;
    }
  
    .banner-content{
      @include flex(center);
      flex-direction: column;
    }
  
    .banner-content input{
      width: 80%;
      display: block;
    }
  
    .banner-button{
      margin-top: 1rem;
      width: 80%;
      right: 0;
      position: relative;
    }

    .destination{
      text-align: center;
    }
  
  }
}

@mixin mobile-md {
  @media only screen and (max-width:450px){

    .grid-container{
      grid-template-columns: 1fr;
    }
  
    .current-status{
      img{
        margin-top: .5rem;
        // min-width: 50%;
      }
    }
  
    .status{
      padding: 1.25rem 2.5rem;
    }
  
    .card {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
  
    .icon {
      margin: 1rem 0;
    }
  }
}