// colors
$primary-color: #f2c57c;
$black: rgba(38, 38, 38, 1);
$light-black: rgba(38, 38, 38, .9);
$white: #fff;
$shadow: 0px 10px 21px -6px rgba(0, 0, 0, .7);
$img-shadow: inset 0px 11px 169px 61px rgb(0, 0, 0 / 80%);
$img-shadow-light: inset 0px 11px 169px 18px #000;

// font sizes
