@import "variables";
@import "mixin";
@import "common";

@import "header";
@import "main";
@import "about";
@import "flights";
@import "destination";
@import "footer";


@import "responsive";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: $black;
  // background-color: $black;
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.reveal.show{
  transform: translateY(0px);
  opacity: 1;
}